<div class="input-group">
    <div class="input-group-append" id="button-addon4">
        <button class="btn btn-outline-primary" 
                type="button"
                (click)="increase(-5)">
            <i class="mdi mdi-minus"></i>
    </button>
    </div>
    <input type="text" 
           class="form-control"
           name="porcentaje"
           [(ngModel)]="porcentaje">
    <div class="input-group-append" id="button-addon4">
        <button class="btn btn-outline-primary" 
                type="button"
                (click)="increase(+5)">
            <i class="mdi mdi-plus"></i>
        </button>
    </div>
</div>